<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= APP_NAME %></title>

<!-- Sencha Touch CSS -->
<link rel="stylesheet" href="/stylesheets/sencha-touch-debug.css" type="text/css">

<!-- Google Maps JS -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<!-- Sencha Touch JS -->
<script type="text/javascript" src="/javascripts/sencha-touch-debug-w-comments.js"></script>

<script type="text/javascript" src="/javascripts/mapStyles.js"></script>

<script type="text/javascript" src="/javascripts/menus.js"></script>

<script type="text/javascript">
Ext.setup({
  icon: '/images/icon.png',
  tabletStartupScreen: '/images/tablet_startup.png',
  phoneStartupScreen: '/images/phone_startup.jpeg',
  glossOnIcon: true,
  onReady: function() {
    var tabpanel, target, weapon, worldMap, worldTopbar;

    var topHandler = function(button, event) {
      var overlayTitle = new Ext.Toolbar({
        dock: 'top',
        title: 'DEFAULT_TITLE'
      });
      var overlay = new Ext.Panel({
        floating: true,
        modal: true,
        centered: true,
        width: 260,
        height: 260,
        styleHtmlContent: true,
        dockedItems: overlayTitle,
        html: "Tap where you want to launch a missile or place a mine"
      });
      overlayTitle.setTitle(button.text);
      overlay.show('pop');

      google.maps.event.addListener(worldMap.map, "click", function(event) {
        if (target) {
          target.setMap(null);
        }
        target = new google.maps.Marker({
          position: event.latLng,
          map: worldMap.map,
          title: "Target",
          icon: new google.maps.MarkerImage(
            "/images/crosshairs.png", // TODO(jeff): crosshairs.png is not exactly a symetrical icon
            new google.maps.Size(41, 41),
            new google.maps.Point(0, 0),
            new google.maps.Point(21, 21)
          )
        });
        weapon.show();
        worldTopbar.doLayout();
      });
    };

    weapon = new Ext.SegmentedButton({
      xtype: 'segmentedbutton',
      allowDepress: true,
      hidden: true,
      items: [{
        text: 'Missile',
        ui: 'action',
        handler: topHandler
      }, {
        text: 'Landmine',
        ui: 'action',
        handler: topHandler
      }]
    });

    worldTopbar = new Ext.Toolbar({
      dock: 'top',
      items: [{
        xtype: 'segmentedbutton',
        allowDepress: true,
        items: [{
          text: 'Attack',
          handler: topHandler
        }, {
          text: 'Defense',
          handler: topHandler
        }]
      }, {
        xtype: 'spacer'
      },
      weapon]
    });

    worldMap = new Ext.Map({
      mapOptions: {
        navigationControl: false,
        zoom: 13,
        mapTypeId: "customMap",
        mapTypeControl: false,
        streetViewControl: false
      },
      listeners: {
        maprender: function(comp, map) {
          map.mapTypes.set("customMap", new google.maps.StyledMapType(MapStyles.tron, {name: "Custom Style"}));
        }
      }
    });

    var world = new Ext.Panel({
      iconCls: 'search',
      title: 'World',
      items: [
        worldMap
      ],
      dockedItems: [
        worldTopbar
      ]
    });

    var onTap = function(subList, subIdx, el, e, detailCard) {
      var ds = subList.getStore(), r  = ds.getAt(subIdx);
      //if ("Launch Missile" === r.get('text')) {
      //  tabpanel.setActiveItem(world);
      //}
      //overlay.setCentered(false);
      //overlayTb.setTitle(subIdx + ': ' + r.get('text'));
      //overlay.showBy(el);
    };

    var missions = new Ext.NestedList({
      title: "Missions",
      iconCls: "settings",
      displayField: "text",
      getItemTextTpl: function(node) {return "<img src='http://www1.eveinfo.com/img/icons/64_64/icon13_04.png'>{text}";},
      store: Menus.missionsStore
    });
    missions.on('leafitemtap', onTap);
    var shop = new Ext.NestedList({
      title: "Shop",
      iconCls: "settings",
      displayField: "text",
      store: Menus.shopStore
    });
    shop.on('leafitemtap', onTap);
    var team = new Ext.NestedList({
      title: "Team",
      iconCls: "team",
      displayField: "text",
      store: Menus.teamStore
    });
    team.on('leafitemtap', onTap);


    tabpanel = new Ext.TabPanel({
      fullscreen: true,
      tabBar: {
        dock: 'bottom',
        layout: {
          pack: 'center'
        }
      },
      items: [
        world,
        missions,
        shop,
        team,
        { iconCls: "user", title: "Profile" }
      ]
    });
  }
});

</script>

</head>
<body></body>
</html>
