<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= APP_NAME %></title>

<!-- Sencha Touch CSS -->
<link rel="stylesheet" href="/stylesheets/sencha-touch-debug.css" type="text/css">

<!-- Google Maps JS -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<!-- Sencha Touch JS -->
<script type="text/javascript" src="/javascripts/sencha-touch-debug-w-comments.js"></script>

<script type="text/javascript" src="/javascripts/mapStyles.js"></script>

<script type="text/javascript" src="/javascripts/menus.js"></script>

<script type="text/javascript">

Ext.setup({
  icon: '/images/icon.png',
  tabletStartupScreen: '/images/tablet_startup.png',
  phoneStartupScreen: '/images/phone_startup.jpeg',
  glossOnIcon: true,
  onReady: function() {
    var customMap = new google.maps.StyledMapType(MapStyles.tron, {name: "Custom Style"});
    var world = new Ext.Map({
      iconCls: 'search',
      title: 'World',
      mapOptions: {
        navigationControl: false,
        zoom: 13,
        mapTypeId: "customMap",
        mapTypeControl: false,
        streetViewControl: false
      },
      listeners: {
        maprender: function(comp, map) {
          map.mapTypes.set("customMap", customMap);
        }
      }
    });
    var actions = new Ext.NestedList({
      title: "Actions",
      iconCls: "settings",
      displayField: "text",
      store: Menus.actionStore
    });
    var shop = new Ext.NestedList({
      title: "Shop",
      iconCls: "settings",
      displayField: "text",
      store: Menus.shopStore
    });
    var team = new Ext.NestedList({
      title: "Team",
      iconCls: "team",
      displayField: "text",
      store: Menus.teamStore
    });
    var tabpanel = new Ext.TabPanel({
      fullscreen: true,
      tabBar: {
        dock: 'bottom',
        layout: {
          pack: 'center'
        }
      },
      items: [
        world,
        actions,
        shop,
        team,
        { iconCls: "user", title: "Profile" }
      ]
    });
  }
});

</script>

</head>
<body></body>
</html>
