<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= APP_NAME %></title>

<!-- Sencha Touch CSS -->
<link rel="stylesheet" href="/stylesheets/sencha-touch.css" type="text/css">

<!-- Google Maps JS -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<!-- Sencha Touch JS -->
<script type="text/javascript" src="/javascripts/sencha-touch.js"></script>

<script type="text/javascript" src="/socket.io/socket.io.js"></script> 

<script type="text/javascript" src="/javascripts/mapStyles.js"></script>

<script type="text/javascript" src="/javascripts/menus.js"></script>

<script type="text/javascript">
var socket = new io.Socket(); 
socket.connect();
socket.on('message', function(obj) {
  alert(obj);
}); 

var tabpanel, target, weapon, worldMap, worldTopbar, initialLocation;

Ext.setup({
  icon: '/images/icon.png',
  tabletStartupScreen: '/images/tablet_startup.png',
  phoneStartupScreen: '/images/phone_startup.jpeg',
  glossOnIcon: true,
  onReady: function() {

    var topHandler = function(button, event) {
      Ext.Msg.alert(button.text, "Tap where you want to launch a missile or place a landmine", Ext.emptyFn);

      google.maps.event.addListener(worldMap.map, "click", function(event) {
        if (target) {
          target.setMap(null); // clear previous marker
        }
        target = new google.maps.Marker({
          position: event.latLng,
          map: worldMap.map,
          title: "Target",
          icon: new google.maps.MarkerImage(
            "/images/crosshairs.png", // TODO(jeff): crosshairs.png is not exactly a symetrical icon
            new google.maps.Size(41, 41),
            new google.maps.Point(0, 0),
            new google.maps.Point(21, 21)
          )
        });
        weapon.show();
        worldTopbar.doLayout();
      });
    };

    weapon = new Ext.SegmentedButton({
      xtype: 'segmentedbutton',
      allowDepress: true,
      hidden: true,
      items: [{
        text: 'Missile',
        ui: 'action',
        handler: topHandler
      }, {
        text: 'Landmine',
        ui: 'action',
        handler: topHandler
      }]
    });

    worldTopbar = new Ext.Toolbar({
      dock: 'top',
      items: [{
        xtype: 'segmentedbutton',
        allowDepress: true,
        items: [{
          text: 'Attack',
          handler: topHandler
        }, {
          text: 'Defense',
          handler: topHandler
        }]
      }, {
        xtype: 'spacer'
      },
      weapon]
    });

    worldMap = new Ext.Map({
      mapOptions: {
        navigationControl: false,
        center: initialLocation,
        zoom: 13,
        mapTypeId: "customMap",
        mapTypeControl: false,
        streetViewControl: false
      },
      listeners: {
        maprender: function(comp, map) {
          map.mapTypes.set("customMap", new google.maps.StyledMapType(MapStyles.tron, {name: "Custom Style"}));
        }
      }
    });

    var world = new Ext.Panel({
      iconCls: 'search',
      title: 'World',
      items: [
        worldMap
      ],
      dockedItems: [
        worldTopbar
      ]
    });

    var onTap = function(subList, subIdx, el, e, detailCard) {
      var ds = subList.getStore(), r  = ds.getAt(subIdx);
      alert(r.get('text'));
    };

    var missions = new Ext.NestedList({
      title: "Missions",
      iconCls: "favorites",
      displayField: "text",
      getItemTextTpl: function(node) {return "<img src='http://www1.eveinfo.com/img/icons/64_64/icon13_04.png'>{text}";},
      store: Menus.missionsStore,
      listeners: { leafitemtap: onTap }
    });
    var shop = new Ext.NestedList({
      title: "Shop",
      iconCls: "settings",
      displayField: "text",
      store: Menus.shopStore,
      listeners: { leafitemtap: onTap }
    });
    var team = new Ext.NestedList({
      title: "Team",
      iconCls: "team",
      displayField: "text",
      store: Menus.teamStore,
      listeners: { leafitemtap: onTap }
    });

    tabpanel = new Ext.TabPanel({
      fullscreen: true,
      tabBar: {
        dock: 'bottom',
        layout: {
          pack: 'center'
        }
      },
      items: [
        world,
        missions,
        shop,
        team,
        { iconCls: "user", title: "Profile" }
      ]
    });
  }
});

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    //if (position.coords.accuracy > 500)
    //  Ext.Msg.alert("Geolocation Approximation", "You location is currently only accurate within " + Math.round(position.coords.accuracy) + " meters.", Ext.emptyFn);
    if (worldMap)
      worldMap.map.setCenter(initialLocation);
    socket.send({ e: "init", loc: initialLocation });
  }); // TODO(jeff): catch on error
} else {
  Ext.Msg.alert("No Geolocation", "Your browser does not support geolocation. Please try a different browser.", Ext.emptyFn);
}
</script>

</head>
<body></body>
</html>
