<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= APP_NAME %></title>

<!-- Sencha Touch CSS -->
<link rel="stylesheet" href="/stylesheets/sencha-touch-debug.css" type="text/css">

<!-- Google Maps JS -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<!-- Sencha Touch JS -->
<script type="text/javascript" src="/javascripts/sencha-touch-debug-w-comments.js"></script>

<script type="text/javascript" src="/javascripts/mapStyles.js"></script>

<script type="text/javascript" src="/javascripts/menus.js"></script>

<script type="text/javascript">
Ext.setup({
  icon: '/images/icon.png',
  tabletStartupScreen: '/images/tablet_startup.png',
  phoneStartupScreen: '/images/phone_startup.jpeg',
  glossOnIcon: true,
  onReady: function() {
    var customMap = new google.maps.StyledMapType(MapStyles.tron, {name: "Custom Style"});
    var world = new Ext.Map({
      iconCls: 'search',
      title: 'World',
      mapOptions: {
        navigationControl: false,
        zoom: 13,
        mapTypeId: "customMap",
        mapTypeControl: false,
        streetViewControl: false
      },
      listeners: {
        maprender: function(comp, map) {
          map.mapTypes.set("customMap", customMap);
        }
      }
    });
/*
    var overlay = new Ext.Panel({
      floating: true,
      modal: true,
      centered: false,
      width: 260,
      height: 220,
      dockedItems: new Ext.Toolbar({dock: 'top'}),
      html: 'test',
    });
*/
    var tabpanel;
    var onTap = function(subList, subIdx, el, e, detailCard) {
      var ds = subList.getStore(), r  = ds.getAt(subIdx);
      //if ("Launch Missile" === r.get('text')) {
      //  tabpanel.setActiveItem(world);
      //}
      //overlay.setCentered(false);
      //overlayTb.setTitle(subIdx + ': ' + r.get('text'));
      //overlay.showBy(el);
    };

    var missions = new Ext.NestedList({
      title: "Missions",
      iconCls: "settings",
      displayField: "text",
      getItemTextTpl: function(node) {return "<img src='http://www1.eveinfo.com/img/icons/64_64/icon13_04.png'>{text}";},
      store: Menus.missionsStore
    });
    missions.on('leafitemtap', onTap);
    var shop = new Ext.NestedList({
      title: "Shop",
      iconCls: "settings",
      displayField: "text",
      store: Menus.shopStore
    });
    shop.on('leafitemtap', onTap);
    var team = new Ext.NestedList({
      title: "Team",
      iconCls: "team",
      displayField: "text",
      store: Menus.teamStore
    });
    team.on('leafitemtap', onTap);

    var topHandler = function(button, event) {
      alert(button.text);
    };

    tabpanel = new Ext.TabPanel({
      fullscreen: true,
      tabBar: {
        dock: 'bottom',
        layout: {
          pack: 'center'
        }
      },
      items: [
        world,
        missions,
        shop,
        team,
        { iconCls: "user", title: "Profile" }
      ],
      dockedItems: [{
        xtype: 'toolbar',
        dock: 'top',
        layout: {
          pack: 'center'
        },
        items: [{
          xtype: 'segmentedbutton',
          allowDepress: true,
          items: [{
            text: 'Attack',
            handler: topHandler
          }, {
            text: 'Defense',
            handler: topHandler
          }]
        }]
      }]
    });
  }
});

</script>

</head>
<body></body>
</html>
